// Place all the styles related to the teckwu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  overflow: hidden;
  overflow-x: hidden;
  height: 2500px;
  width: 100%;
  //background-color: lightblue;
}

div#test {
  position: fixed;
  text-align: center;
}

div.intro {
  vertical-align: top;
  height: 200px;
}

div.intro2 {
  position: fixed;
  width: 98.8%;
  top: 6px;
  vertical-align: top;
  height: 50px;
  background-color: #2A4D6E;
}

div.intro2#in1 {
  border-radius: 30px;
  opacity: 0.05;
  z-index: 101;
}
div.intro2#in2 {
  border-radius: 30px;
  opacity: 0.2;
  z-index: 102;
}

p.introp {
  position: fixed;
  z-index: 104;
  top: -7px;
  vertical-align: top;
  color: black;
  font-family: Futura;
  opacity: 0.2;
  font-size: 22px;
  text-align: center;
}

p#introp_titlename {
  left: 2.5%;
}

p#introp_progressbar {
  left: 45%;
  display: none;
}

#click_click {
  position: absolute;
  margin: auto;
  top: 16.2%;
  left: 21.8%;
}
div.contentbox {
  position:  relative;
  text-align: center;
}

.content#about {
  margin-left: auto;
}


.content {
  position: relative;
  display:  inline-block;
  height:  180px;
  text-align: center;
  border-radius: 30px;
  z-index: 10;

  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;

}

 
/* The ghost, nudged to maintain perfect centering */
.content:before {
  content: '';
  display: inline-block;
  height: 15%;
  vertical-align: middle;
}

div.content p {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 40px;
  color: white;
}

div#contentbox2 {
  position: relative;
  margin-left: 20%;
}
div.content2 {
  position: absolute;
  margin-top: 10px;
  height:  800px;
  display: none;

}

div.content3 {
  position:  absolute;
  margin-top: 10px;
  margin-left: 60px;
  height:  500px;
  display: none;
  width:  65%;
}

.cloud#x1 {
  margin-left: 40%;
}


.infobox {
  position: absolute;
  top: 900px; bottom: 0; right: 0; left: 0;
  text-align: center;
  margin: auto;
  z-index: 9;
}


.info {
  vertical-align: top;
  border: 8px solid lightblue;
  border-radius: 30px;
  text-align: center;
}

div.infox {
  vertical-align: top;
  text-align: center;
  display: inline-block;
}

div.info#info1 {
  display: inline-block;
  width: 334px;
  height: 600px;
  background-color: #255E69;
}

div.info#info2 {
  width: 334px;
  height: 193px;
  background-color: #AA4339;
}

div.info#info3 {
  width: 334px;
  height: 391px;
  background-color: #2B803E;
}

div.info#info4 {
  width: 334px;
  height: 193px;
  background-color: #AA6439;
}

div.info#info5 {
  width: 334px;
  height: 391px;
  background-color: #2F3F73;
}

div.info p[name="content"] {
  position: relative;
  top: -5%;
  padding: 0 3%;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 16px;
  color: white;
}

div.info p.infotitle {
  position: relative;
  top: -3%;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: white;
  opacity: 0.2;
}

div.info p.infotitle#title1 {
  font-size: 40px;
}

div.info p.infotitle#title2 {
  font-size: 24px;
}

div.info p.infotitle#title3 {
  font-size: 30px;
}


.cloudxs {
  top: 1200px;
  position: relative;
}

.cloudx {
  position: absolute;
}


div.skills_and_interests {
  position: relative;
  top: 600px;
  vertical-align: top;
  text-align: center;
  height: 100px;
  background-image: url("x");
  font-family: Futura;
  z-index: 100;
  height: 300px;
  font-size: 115px;
  margin: auto;
}

div.skills_and_interests p {
  position: relative;
  top: 35%;
  color: #2B4C6F;
  opacity: 1;
}

canvas#wordcloud {
  display: block;
  margin: auto;
  position: relative;
  top: 900px;
}
