%head
	%meta{name: "author", content: "Ong Teck Wu"}
	%meta{name: "description", content: "Keyboard Warrior"}
	%meta{name: "viewport", content: "width=device-width, initial-scale=1"}
	%meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge"}
	%meta{"charset" => "utf-8"}
	%title Keyboard Warrior
	=javascript_include_tag "kb_war_bundle"
	=stylesheet_link_tag "kb_war_bundle"