<!DOCTYPE html>
<html>
  <head><title>Ong Teck Wu</title>
  </head>
  <body id="skroll-body">

    <div class="intro"></div>
    <div class="contentbox" data-0= "top: 0px"
                            data-150= "top: 150px">
      <div class="content about" data-0="transform:scale(1); 
                                 left:0%;" 
                                 data-150="transform:scale(0); left:18%;">
          <p>About</p>
      </div>
      <div class="content projects" data-0="transform:scale(1) rotate(0deg);"
                                    data-150="transform:scale(0) rotate(180deg);">
        <p>Projects</p>
      </div>
      <div class="content reading_list" data-0="transform:scale(1);
                                        right:0%;"
                                        data-150="transform:scale(0); right:18%;"
                                        >
        <p>Readings</p>
      </div>
    </div>
    <div class="contentbox2">
      <div class="content2 about2">
      </div>
      <div class="content3 about3">
      </div>

      <div class="content2 projects2">
      </div>
      <div class="content3 projects3">
        
      </div>
      <div class="content2 reading_list2">
        
      </div>
      <div class="content3 reading_list3">
        
      </div>
    </div>
    <div id="clouds">
      <div class= "cloud x1" data-0="top:55%"
                             data-300="top:-75%;">
    </div>

    <div class="infobox" data-150="top:150px;"
                         data-200="top:300px;"
                         data-1000="top:300px;">
      <div class="info info1" data-150="transform: scale(0);
                              left:100%;"
                              data-220="transform: scale(1);
                              left:10%;">
      </div>
      <div class="infox">
        <div class="info info2" data-150="transform: scale(0);"
                                data-220="transform: scale(1);">
        </div>
        <div class="info info3" data-150="transform: scale(0);"
                                data-220="transform: scale(1);">
        </div>
      </div>
      <div class="infox">
        <div class="info info4" data-150="transform: scale(0);"
                                data-220="transform: scale(1);">
        </div>
        <div class="info info5" data-150="transform: scale(0);"
                                data-220="transform: scale(1);">
        </div>
      </div>
    </div>
  </body>
</html>

