!!!
%html
	
	= render "head", locals: {title: "bootstraptest"} 
	=stylesheet_link_tag "http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"

	%body

		%header
			%nav.navbar-fixed-top
				.container-fluid#navbarhead
					.navbar-header
						%button#shrunkbutton.navbar-toggle{:type => "button", :data => {:toggle => "collapse", :target => "#navbar-target"}}
							%span.sr-only Toggle navigation
							%span.icon-bar
							%span.icon-bar
							%span.icon-bar
					.row
						.collapse.navbar-collapse#navbar-target.col-xs-6
							%ul.nav.navbar-nav
								%li.active.dropdown
									%a.li-color.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"} 
										Home
										%span.caret-margin.caret
									%ul.dropdown-menu{:role => "menu"}
										%li
											%a{:href => "#"}Something
										%li
											%a{:href => "#"}Something
										%li.divider
										%li
											%a{:href => "#"}Something else
								%li
									%a.li-color{:href => "#"} Profile
								%li
									%a.li-color{:href => "#"} Messages

						
						%form.navbar-form.hidden-xs.navbar-right{role: "search"}
							.form-group{style: "display:inline;"}
								.input-group
									%input.form-control{:type => "text", :placeholder => "Search"}
									%span.input-group-addon
										%a{:href => ""}
											%span.glyphicon.glyphicon-search

			.jumbotron#jumbo
				.container
					%h1 Teck Wu's Blog
					%h2.lead I talk about everything I know. Generally code.
					/ %a.btn.btm-primary.btm-lg{:role => "button", :href => "#"} Learn More
			

		.container
			.row
				//blog-posts
				.col-sm-8.col-xs-12.blog-posts
					//sample blog post
					.blog-post
						%h2.blog-post-title
							%a{:href => "#"}  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, eligendi.
						%p.blog-post-meta 
							By
							%a{:href => ""}Ong Teck Wu 
							| 22 July 2014
						%p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo impedit, quos. Impedit eius ea vitae fugit dolorum aliquid, quae officia iste totam deleniti quibusdam velit sed tempora ipsum aut animi!

						%p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab voluptas qui neque, doloribus maiores.

						%p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt aliquam autem, officia, sapiente quis, libero dignissimos rerum nostrum perferendis modi dolor quisquam, in aspernatur corrupti qui eveniet ipsum dolorem odio ullam fugiat adipisci ipsam fugit. Obcaecati voluptatum dolor nisi odit.

						%p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, odit. Ducimus nulla illum, soluta vitae nobis hic. Nostrum adipisci, placeat eveniet impedit ipsum nesciunt soluta aliquam. Provident consectetur, qui reprehenderit a cum corrupti ipsum praesentium fugit exercitationem at minima quaerat autem porro possimus inventore corporis repellat. Distinctio, minus cupiditate maiores eaque et aliquam accusantium praesentium harum! Quam earum architecto aut?
				//blog-sidebar
				.col-sm-3.col-xs-12
					#about-blog
						%h4 About
						%p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate numquam, illo perferendis iusto vero consequatur quibusdam excepturi! Amet, velit, obcaecati. Ut quibusdam odit excepturi nesciunt non perferendis rerum nemo voluptatem.
					#categories
						%h4#category-title CATEGORIES
						%a.category-name{:href => "#"} 
							Lorem ipsum
							%span.category-num (1) 

