!!!
%html
	
	= render "head", locals: {title: "quotes"} 

	%body
		.container-fluid#test
			.row
				.col-xs-12
					%h1 Lorem ipsum dolor sit amet, consectetur.
			.row
				.col-xs-8
					%p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, vel.
				.col-xs-4 
					%p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic earum repellat, doloremque itaque illum <mark> assumenda </mark> tempora suscipit numquam voluptate repudiandae deserunt voluptas iure dolore tempore saepe molestiae ipsam sunt, praesentium!
			.row 
				.col-xs-6
					%p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, ratione soluta aliquid!
				.col-xs-6
					%p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae laudantium aut, ducimus corrupti. lorem12
			.row
				.col-xs-5
					%p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, unde possimus illum!	
				.col-xs-7
					%p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro sed, sunt totam?
			.row
				.col-xs-8
					%p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque assumenda laboriosam possimus veniam.
				.col-xs-4
					%p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis excepturi saepe impedit a sint, quidem maiores porro facere deserunt dignissimos?
			.row
				.col-xs-4
					%p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione repellat veritatis voluptatem voluptate laboriosam mollitia quia sed at possimus! Dignissimos natus nisi harum modi eos. Aliquid eius, perspiciatis velit eos debitis sequi quos autem, est deserunt accusantium doloremque quae.
				.col-xs-8
					%p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus quae repudiandae accusantium perspiciatis non debitis quo saepe consequuntur iure voluptates.