!!!
%html
	
	= render "head", locals: {title: "show"} 
	=stylesheet_link_tag "http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"

	%body

		%header
			= render "navbar"

		.container