// Place all the styles related to the teckwu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  overflow: hidden;
  height: 3000px;
}

div.intro {
  height: 200px;
}

div.contentbox {
  position:  relative;
  text-align: center;
}

div.content.about {
  margin-left: auto;
}


div.content {
  position: relative;
  display:  inline-block;
  height:  180px;
  text-align: center;
  border-radius: 30px;
  z-index: 10;

  margin-left: 5px;
  margin-right: 5px;

}

 
/* The ghost, nudged to maintain perfect centering */
div.content:before {
  content: '';
  display: inline-block;
  height: 15%;
  vertical-align: middle;
}

div.content p {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 40px;
  color: white;
}

div.contentbox2 {
  position: relative;
  margin-left: 20%;
}
div.content2 {
  position: absolute;
  margin-top: 10px;
  height:  800px;
  display: none;

}

div.content3 {
  position:  absolute;
  margin-top: 10px;
  margin-left: 60px;
  height:  800px;
  display: none;
  width:  65%;
}

.infobox {
  position: absolute;
  top: 900px; bottom: 0; right: 0; left: 0;
  text-align: center;
  margin: auto;
}


.info {
  border: 8px solid #F0F8FF;
  border-radius: 30px;
}

div.infox {
  text-align: center;
  display: inline-block;
}

div.info.info1 {
  display: inline-block;
  width: 334px;
  height: 600px;
  background-color: #255E69;
}

div.info.info2 {
  width: 334px;
  height: 292px;
  background-color: #AA4339;
}

div.info.info3 {
  width: 334px;
  height: 292px;
  background-color: #2B803E;
}

div.info.info4 {
  width: 334px;
  height: 292px;
  background-color: #AA7039;
}

div.info.info5 {
  width: 334px;
  height: 292px;
  background-color: #5D2971;
}
